# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
*.lib

# Executables
*.exe
*.out
*.app

build
#libraries/*
tram-sdk-cppcheck-build-dir
cppcheck
Makefile

# Codelite IDE files
compile_flags.txt
tram-sdk.cppcheck
tram-sdk.mk
tram-sdk.project