body {
	font-size: 12pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.container {
	width: 1000px;
	border-radius: 15px;
	box-shadow: 5px 5px 0px rgba(25, 25, 25, 0.8);
	padding:10px;
}

.left-pane {
	width: 200px;
	/*padding: 10px;*/
	padding-left: 5px;
	padding-top: 10px;
}

.middle-pane {
	/*padding: 10px;*/
	padding-right: 5px;
	padding-top: 10px;
}

.right-pane {
	display: none;
}

/* hide the spinning toilet */
.animated {
	display: none;
}


.titlebar {
	position: relative;
	padding-bottom: 10px;
}

.titlebar .links {
	position: absolute;
	bottom: 10px;
	right: 0;
	padding-right: 5px;
	padding-bottom: 2px
}

.menubar a, .menubar a:link, .menubar a:visited, .menubar a:focus,
			.menubar a:active {
	color: white;
}

.menubar a:hover {
	color: white;
	text-decoration: none;
}

.menubar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 25px;
	padding-bottom: 5px;
	border-radius: 15px;
	padding-left: 10px;
	box-shadow: 0px 3px 0px #2222aa;
}

.navbar {
	width: 100%;
}

.navbar .left {
	width: 50px;
}

.navbar .middle {
	text-align: center;
}

.navbar .right {
	width: 50px;
	text-align: right;
}

.resizable {
	width: 640px;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: 0;
}

p {
	margin-top: 4px;
	margin-bottom: 4px;
}

h1 {
	font-size: 16pt;
}

h2 {
	font-size: 12pt;
}

h3 {
	font-size: 11pt;
}

h4 {
	font-size: 10pt;
}

ul {
	margin-top: 0;
	padding-left: 20px;
}

.codefunc {
	color: blue;
}

.codeclass {
	color: blue;
}

.codekeyw {
	color: red;
}

.codecomm {
	color: green;
}

.codelit {
	color: orange;
}

.codespac {
	color: blue;
}

.codeexample {
	white-space: pre;
}

.infobox {
	/* margin: 0px 10px 0px 10px;*/
	margin: 10px 0px 10px 0px;
	padding: 10px 15px 10px 15px;
	border: 2px groove gray;
}